:root{
  background-color: #888;
  --primar-color: #26532b;
  --secondary-color: #1e3888;
  --accent-color1: #5ab1bb;
  --accent-color2: #fafaff;
}

h1 {
  color: var(--primar-color);
}

h2 {
  color: var(--accent-color1);
}

p {
  color: var(--secondary-color);
}

.hero.img{
  float: right;
}

.image_link{
  text-decoration: none;
}

/* font css class declarations */
/*.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
  }*/

/* <uniquifier>: Use a unique and descriptive class name - light300
/  <weight>: Use a value from 100 to 900 - I used value 300*/

/*.sour-gummy-light300 {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/
