*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-color: darkblue;
}

nav {
    background-color: var(--dark-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: var(--dark-color);
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    grid-column: 2/3;
    margin: 1rem;
    /*css styles go here*/
}

aside {
    position: relative;
    width: 20em;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside h2{
    position: absolute;
    /* z-index: 0; */
    top: 28px;
    left: 105px;
    color: rgb(12, 72, 17);
}

aside img{
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */

.box {
    margin: 1rem;
    border: 1pc solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    }

header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    align-items: center;
}
